.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.controls {
  /* display: flex; */
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

/* .dropdown {
  display: flex;
  align-items: center;
} */

.dropdown label {
  /* margin-right: 10px; */
}

.kanban-board {
  /* display: flex; */
  gap: 20px;
  overflow-x: auto;
}
